BasedOnStyle: google
DerivePointerAlignment: false
ColumnLimit: 120
InsertNewlineAtEOF: true

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  # 1 — "local"
  - Regex: '^".*"$'
    Priority: 1

  # 2-6 — project sources
  - Regex: '^<core/.*>$'
    Priority: 2

  - Regex: '^<app/.*>$'
    Priority: 3

  - Regex: '^<infra/.*>$'
    Priority: 4
  
  - Regex: '^<utils/.*>$'
    Priority: 5
  
  - Regex: '^<api/.*>$'
    Priority: 6

  # 7 — external libs (userver, fmt, etc.)
  - Regex: '^<[^/]+/.*>$'
    Priority: 7

  # 8 — C headers (*.h in root)
  - Regex: '^<[^>/]+\.h>$'
    Priority: 8

  # 9 — C++ std headers without .h
  - Regex: '^<[A-Za-z0-9_]+>$'
    Priority: 9





  